<h2>Eesmärgid</h2>
<ul id="goals-list">
    {% for goal in goals %}
    <li class="goal-item">
        <div class="goal-content">
            <span class="goal-name"><strong>{{ goal.name }}</strong></span>
            <span class="goal-description">{{ goal.description }}</span>
            <span class="goal-deadline">Tähtaeg: {{ goal.deadline }}</span>
            <span class="goal-completed">Tehtud: {{ "Jah" if goal.completed else "Ei" }}</span>
        </div>
        <div class="goal-actions">
            <a href="#" onclick="openEditGoalModal('{{ goal.id }}', '{{ goal.name }}', '{{ goal.description }}', '{{ goal.deadline }}', '{{ goal.completed }}'); return false;" class="edit-button">✎</a>
            <a href="{{ url_for('delete_goal', id=goal.id) }}" class="delete-button">❌</a>
        </div>
    </li>
    {% endfor %}
</ul>
<button onclick="openAddGoalModal()" class="add-goal-button">Lisa eesmärk</button>